<mat-card class="p-4">
    <mat-card-title>
        <h4 class="text-center"><strong>Pagar</strong></h4>
    </mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.pago">
            <div class="row p-2">
                <div class="col-lg-12 p-2">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0">
                            <thead class="theadp">
                                <tr class="tablebg text-center">
                                    <th class="thp" scope="col" role="columnheader">Id</th>
                                    <th class="thp" scope="col" role="columnheader">Nombre</th>
                                    <th class="thp" scope="col" role="columnheader">Tipo Naturaleza</th>
                                    <th class="thp" scope="col" role="columnheader">DNI</th>
                                    <th class="thp" scope="col" role="columnheader">Opcion</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup" class="tbodyp">
                                <tr class="text-center trp" role="row" [ngClass]="{'bg-primary': item.COD_PERSONA == opcion}"
                                *ngFor="let item of (_service.response$ | async)! |  filter:buscar:campo">
                                <td role="cell" data-title="Nombre" class="tdp"> {{item.COD_PERSONA}}</td>
                                <td role="cell" data-title="Nombre" class="tdp"> {{item.PRIMER_NOMBRE}}
                                    {{item.PRIMER_APELLIDO}}</td>
                                <td role="cell" data-title="Nombre" class="tdp"> {{item.TIPO}}</td>
                                <td role="cell" data-title="Nombre" class="tdp"> {{item.DNI}}</td>
                                <td id="d" role="cell" data-title="Opciones" class="tdp">
                                    <div class="text-center">
                                        <button mat-button color="accent" (click)="pasarproductos(item)">Seleccionar</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-6">
                    <mat-form-field class="full-width-field" appearance="fill">
                        <mat-label>RTN</mat-label>
                        <input matInput formControlName="RTN" onkeydown="return /[0-9]/i.test(event.key)" maxlength="14" minlength="14">
                    </mat-form-field>
                </div>

                <div class="col-lg-6">
                    <mat-form-field class="full-width-field" appearance="fill">
                        <mat-label>Descuento</mat-label>
                        <input matInput formControlName="DESCUENTO" (keydown)="validateInput($event)">
                    </mat-form-field>
                </div>

                <div class="col-lg-12">
                    <h3 class="text-lg-end">Sub Total: <strong>L.{{_service.subtotal | number: '1.2-2'}}</strong></h3>
                    <h3 class="text-lg-end">Descuento: <strong>L.{{_service.descuento | number: '1.2-2'}}</strong></h3>
                    <h3 class="text-lg-end">Impuesto: <strong>L.{{_service.isv | number: '1.2-2'}}</strong></h3>
                    <h3 class="text-lg-end">Total: <strong>L.{{_service.total | number: '1.2-2'}}</strong></h3>

                </div>
            </div>
        </form>
    </mat-card-subtitle>
    <mat-card-actions class="d-flex justify-content-center">
        <button mat-raised-button class="m-1" color="accent" (click)="guardar()" [disabled]="!_service.pago">Guardar</button>
         <button mat-raised-button class="m-1 "color="warn" (click)="cerrarmodal()">Cerrar</button>  
    </mat-card-actions>
</mat-card>