<div>
    <div class="col-lg-6">
        <nav aria-label="breadcrumb">
            <h1><strong>Expediente</strong></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
                <li class="breadcrumb-item active"><a routerLink="/expediente">Expediente</a></li>
            </ol>
        </nav>
    </div>

    <mat-card>
        <mat-card-content>
   
            <div class="row">
                <H1 class="text-center"><strong>Documentos requeridos</strong></H1>
                <div class="col-lg-4">
                    <h3><strong>Ficha de archivo de Expediente</strong></h3>
                    <input  type="file" (change)="onFileSelected($event,1)" accept="">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Constancia de verificacion de nombre</strong></h3>
                    <input  type="file" (change)="onFileSelected($event,2)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Fotocopia de la tarjeta de identidad nueva</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,3)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Certificacion de notas</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,4)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Constancia de egresado extendida por la secretaria</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,5)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Constancia del Himno Nacional</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,6)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Constancia del servicio social comunitario VOAE</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,7)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Fotocopia del titulo de educacion media</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,8)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Constancia de practiva profesional supervisada</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,9)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
                <div class="col-lg-4">
                    <h3><strong>Solvencia extendida por la oficina de registro</strong>  </h3>
                    <input  type="file" (change)="onFileSelected($event,10)">
                    <br>
                    <button (click)="onUpload()">Subir Archivo</button>
        
                    <ngx-doc-viewer *ngIf="documentUrl" [url]="documentUrl"></ngx-doc-viewer>
                </div>
            
            </div>
            <br>
            <button class="btn btn-danger" (click)="crear()">Crear cita</button>
        </mat-card-content>
    </mat-card>
</div>