<mat-card class="p-4">
  <mat-card-title>
    <h4 class="text-center"><strong>{{_service.register.get('COD_ARTICULO')?.value ? "ACTUALIZAR":"CREAR"}}</strong>
    </h4>
  </mat-card-title>
  <mat-card-subtitle>
    <form [formGroup]="_service.register">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="COD_CATEGORIA">
              <mat-option *ngFor="let item of (_cat.response$ | async)" [value]="item.COD_CATEGORIA">
                {{item.NOM_CATEGORIA}}
              </mat-option>
            </mat-select>
            <mat-hint align="start" *ngIf="validateOpinion['COD_CATEGORIA'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Artículo</mat-label>
            <input matInput formControlName="NOMBRE_ARTICULO" minlength="1" maxlength="30">
            <mat-hint align="start" *ngIf="validateOpinion['NOMBRE_ARTICULO'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Costo</mat-label>
            <input matInput formControlName="PRECIO_COMPRA" minlength="1" maxlength="20">
            <mat-hint align="start" *ngIf="validateOpinion['PRECIO_COMPRA'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
                <mat-hint align="start" *ngIf="validateOpinion['PRECIO_COMPRA'].hasError('pattern')"><strong
                  class="text-danger">Solo numeros ejem: 2.3!</strong> </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Precio venta</mat-label>
            <input matInput formControlName="PRECIO_VENTA" minlength="1" maxlength="20">
            <mat-hint align="start" *ngIf="validateOpinion['PRECIO_VENTA'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
                <mat-hint align="start" *ngIf="validateOpinion['PRECIO_VENTA'].hasError('pattern')"><strong
                  class="text-danger">Solo numeros ejem: 2.3!</strong> </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="DESCRIPCION"
            minlength="2" maxlength="25">
            <mat-hint align="start" *ngIf="validateOpinion['DESCRIPCION'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
          </mat-form-field>
        </div>
      </div>

    </form>
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="guardar()">{{_service.register.get('COD_ARTICULO')?.value ?
      "Actualizar":"Crear"}}</button>
    <button mat-raised-button class="m-1" color="warn" (click)="cerrarmodal()">Cerrar</button>
  </mat-card-actions>
</mat-card>