<mat-card class="p-4">
    <mat-card-title>
        <h4 class="text-center"><strong>{{_service.register.get('COD_DIRECCION')?.value ?
                "ACTUALIZAR":"CREAR"}}</strong></h4>
    </mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo Dirección</mat-label>
                        <mat-select formControlName="COD_TIPO_DIRECCION">
                            <mat-option *ngFor="let food of (tipo_telefono.response$ | async)"
                                [value]="food.COD_TIPO_DIRECCION">
                                {{food.TIPO_DIRECCION}}
                            </mat-option>
                        </mat-select>
                        <mat-hint align="start"
                            *ngIf="validateOpinion['COD_TIPO_DIRECCION'].hasError('required')"><strong
                                class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Calle</mat-label>
                        <input matInput placeholder="Ingrese calle" formControlName="CALLE"
                            onkeyup="javascript:this.value=this.value.toUpperCase();" maxlength="20">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Bloque</mat-label>
                        <input matInput placeholder="Ingrese bloque" formControlName="BLOQUE"
                            onkeyup="javascript:this.value=this.value.toUpperCase();" maxlength="20">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Avenida</mat-label>
                        <input matInput placeholder="Ingrese avenida" formControlName="AVENIDA" maxlength="40">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Ingrese direccion" formControlName="DIRECCION"
                            onkeyup="javascript:this.value=this.value.toUpperCase()" maxlength="40">
                        <mat-hint align="start" *ngIf="validateOpinion['DIRECCION'].hasError('required')"><strong
                                class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Ciudad</mat-label>
                        <input matInput placeholder="Ingrese ciudad" formControlName="CIUDAD"
                            onkeyup="javascript:this.value=this.value.toUpperCase();" maxlength="40">
                        <mat-hint align="start" *ngIf="validateOpinion['CIUDAD'].hasError('required')"><strong
                                class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-subtitle>
    <mat-card-actions>
        <button mat-raised-button class="m-1" color="primary" (click)="guardar()"
            [disabled]="!_service.register">{{_service.register.get('COD_DIRECCION')?.value ?
            "Actualizar":"Crear"}}</button>
        <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
</mat-card>