<mat-card class="p-4">
    <mat-card-title><h4 class="text-center"><strong>{{_service.register.get('COD_CAI')?.value ? "ACTUALIZAR":"CREAR"}}</strong></h4></mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Cai</mat-label>
                        <input matInput placeholder="Ingrese CAI" formControlName="CAI">
                        <mat-hint align="start" *ngIf="validateOpinion['CAI'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Fecha inicio</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="FECHA_INICIO">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Fecha fin</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="FECHA_FIN">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field   appearance="outline">
                        <mat-label>Rango desde</mat-label>
                        <input matInput placeholder="Ingrese rango desde" formControlName="RANGO_DESDE">
                        <mat-hint align="start" *ngIf="validateOpinion['RANGO_DESDE'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Rango hasta</mat-label>
                        <input matInput placeholder="Ingrese rango hasta" formControlName="RANGO_HASTA">
                        <mat-hint align="start" *ngIf="validateOpinion['RANGO_HASTA'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Factura SAR</mat-label>
                        <input matInput placeholder="Ingrese factura sar" formControlName="FACTURA_SAR">
                        <mat-hint align="start" *ngIf="validateOpinion['FACTURA_SAR'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>

            </div>
               
        </form>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button class="m-1" color="primary" (click)="guardar()" [disabled]="!_service.register" >{{_service.register.get('COD_PARAMETRO')?.value ? "Actualizar":"Crear"}}</button>
      <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
 
