<mat-card class="p-4">
    <mat-card-title><h4 class="text-center"><strong>{{_service.register.get('COD_TIPO_TELEFONO')?.value ? "ACTUALIZAR":"CREAR"}}</strong></h4></mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Tipo telefono</mat-label>
                <input matInput placeholder="Ingrese tipo telefono" formControlName="TIPO_TELEFONO" onkeyup="javascript:this.value=this.value.toUpperCase();">
                <mat-hint align="start" *ngIf="validateOpinion['TIPO_TELEFONO'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
            </mat-form-field>
            <br>
           
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="ESTADO">
                        <mat-option value="1">Activo</mat-option>
                        <mat-option value="0">Inactivo</mat-option>
                    </mat-select>
                    <mat-hint align="start" *ngIf="validateOpinion['ESTADO'].hasError('required')"><strong
                            class="text-danger">Campo requerido!</strong> </mat-hint>
                </mat-form-field>
         
        </form>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button class="m-1" color="primary" (click)="guardar()" [disabled]="!_service.register" >{{_service.register.get('COD_TIPO_TELEFONO')?.value ? "Actualizar":"Crear"}}</button>
      <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
 
