<div class="pagetitle">
    <h1>Empresa</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Editar Empresa</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#edit-empresa">Editar
                                Empresa</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <form [formGroup]="formempresa">

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre Empresa</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" formControlName="NOMBRE_EMPRESA">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Dirección</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" formControlName="DIRECCION">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" formControlName="TELEFONO">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" formControlName="CORREO">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">RTN</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" formControlName="RTN">
                                </div>
                            </div>

                            <div class="text-center">
                                <button (click)="guardarempresa()" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>