<mat-card class="p-4">
    <mat-card-title>
        <h4 class="text-center"><strong>Pagar</strong></h4>
    </mat-card-title>
    <mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-label>Busqueda</mat-label>
            <input matInput placeholder="Buscar" [(ngModel)]="buscar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <form [formGroup]="_service.pago">
            <div class="row">
                <div class="col-lg-12 p-2">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0">
                            <thead class="theadp">
                                <tr class="tablebg text-center">
                                    <th class="thp" scope="col" role="columnheader">Id</th>
                                    <th class="thp" scope="col" role="columnheader">Nombre</th>
                                    <th class="thp" scope="col" role="columnheader">Tipo Naturaleza</th>
                                    <th class="thp" scope="col" role="columnheader">DNI</th>
                                    <th class="thp" scope="col" role="columnheader">Opcion</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup" class="tbodyp">
                                <tr class="text-center trp" [ngClass]="{'bg-primary': item.COD_PERSONA == opcion}"
                                    *ngFor="let item of (_service.responseproveedores$ | async)! | filter:buscar:campo">
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.COD_PERSONA}}</td>
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.PRIMER_NOMBRE}} {{item.PRIMER_APELLIDO}}</td>
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.TIPO}}</td>
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.DNI}}</td>
                                    <td id="d" role="cell" data-title="Opciones" class="tdp">
                                        <div class="text-center">
                                            <button mat-button color="accent" (click)="pasarproductos(item)">Seleccionar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
                <div class="col-lg-12 p-2">
                    <mat-form-field class="full-width-field" appearance="fill">
                        <mat-label>Descuento</mat-label>
                        <input matInput formControlName="DESCUENTO" (keydown)="validateInput($event)">
                        <mat-hint align="start"><strong class="text-danger">Solo numeros ejem: 0.12!</strong> </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-lg-12">
                    <h3 class="text-lg-end">Sub Total: <strong>L.{{_service.subtotal | number: '1.2-2'}}</strong></h3>
                </div>
                <div class="col-lg-12">
                    <h3 class="text-lg-end">Descuento: <strong>L.{{_service.descuento | number: '1.2-2'}}</strong></h3>
                </div>

                <div class="col-lg-12">
                    <h3 class="text-lg-end">Impuesto: <strong>L.{{_service.impuesto | number: '1.2-2'}}</strong></h3>
                </div>

                <div class="col-lg-12">
                    <h3 class="text-lg-end">Total: <strong>{{_service.total | number:'1.2-2'}}</strong></h3>
                </div>
            </div>
        </form>
    </mat-card-subtitle>
    <mat-card-actions class="d-flex justify-content-center">
        <button class="m-1" mat-raised-button color="accent" (click)="guardar()"
            [disabled]="!_service.pago">Guardar</button>
        <button class="m-1" mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
</mat-card>