<mat-card class="card p-4">
    <mat-card-title>
        <h4 class="text-center"><strong>CREAR VENTA</strong></h4>
    </mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <div class="row">
                <div class="col-lg-6 p-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill" class="full-width-field">
                                <mat-label>Articulos</mat-label>
                                <input type="text" matInput formControlName="COD_ARTICULO" [matAutocomplete]="articulo">
                                <mat-autocomplete #articulo="matAutocomplete" [displayWith]="displayArticulo"
                                    (optionSelected)='modelChanged($event)'>
                                    <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
                                        {{option.NOMBRE_ARTICULO}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-hint align="start"
                                    *ngIf="validateOpinion['COD_ARTICULO'].hasError('required')"><strong
                                        class="text-danger">Campo requerido!</strong> </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="full-width-field" appearance="fill">
                                <mat-label>Precio venta</mat-label>
                                <input matInput formControlName="PRECIO_VENTA">
                                <mat-hint align="start" *ngIf="validateOpinion['PRECIO_VENTA'].hasError('required')">
                                    <strong class="text-danger">Campo requerido!</strong> </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="full-width-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input matInput placeholder="Ingrese cantidad" formControlName="CANTIDAD"
                                    onkeydown="return /[0-9A-Z]/i.test(event.key)">
                                <mat-hint align="start" *ngIf="validateOpinion['CANTIDAD'].hasError('required')"><strong
                                        class="text-danger">Campo requerido!</strong> </mat-hint>
                                <!-- <mat-hint align="start" *ngIf="!validateOpinion['CANTIDAD'].hasError('pattern')"><strong class="text-danger">Solo numeros!</strong> </mat-hint> -->

                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="full-width-field" appearance="fill">
                                <mat-label>Stock</mat-label>
                                <input matInput placeholder="" formControlName="STOCK">
                                <mat-hint align="start" *ngIf="validateOpinion['STOCK'].hasError('required')"><strong
                                        class="text-danger">Campo requerido!</strong> </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


<br>
<br>
                <div class="col-lg-6 d-flex justify-content-end pt-5">
                    <div class="row ">
                        <div class="col-lg-12 d-flex justify-content-end">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Isv</mat-label>
                                <input matInput formControlName="ISV">
                                <mat-hint align="start"
                                    *ngIf="validateOpinion['ISV'].hasError('required')"><strong
                                        class="text-danger">Campo requerido!</strong> </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-end">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Total bruto</mat-label>
                                <input matInput formControlName="TOTALBRUTO">
                                <mat-hint align="start"
                                    *ngIf="validateOpinion['TOTALBRUTO'].hasError('required')"><strong
                                        class="text-danger">Campo requerido!</strong> </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-end">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Total final</mat-label>
                                <input matInput formControlName="TOTALFINAL">
                                <mat-hint align="start"
                                    *ngIf="validateOpinion['TOTALFINAL'].hasError('required')"><strong
                                        class="text-danger">Campo requerido!</strong> </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <button mat-raised-button color="accent" (click)="agregar()">Agregar</button>

        </form>
    </mat-card-subtitle>
    <div class="table-responsive" *ngIf="_service.productos.length > 0">
        <table class="table  bordeTabla tablep" role="table">
            <thead class="theadp">
                <tr class="tablebg text-center">
                    <th class="thp" scope="col" role="columnheader">Id</th>
                    <th class="thp" scope="col" role="columnheader">Articulo</th>
                    <th class="thp" scope="col" role="columnheader">Cantidad</th>
                    <th class="thp" scope="col" role="columnheader">Opciones</th>
                </tr>
            </thead>
            <tbody role="rowgroup" class="tbodyp">
                <tr class="text-center trp" role="row" *ngFor="let item of (_service.productos)">
                    <td role="cell" data-title="Nombre" class="tdp"> {{item.id}}</td>
                    <td role="cell" data-title="Nombre" class="tdp"> {{item.producto}}</td>
                    <td role="cell" data-title="Nombre" class="tdp"> {{item.cantidad}}</td>
                    <td role="cell" data-title="Opciones" class="tdp">
                        <div class="text-center">
                            <button mat-mini-fab color="warn" (click)="eliminar(item)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>

                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="1"><b>Total:</b> </td>
                    <td colspan="1"><b>{{_service.total}}</b></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator id="d" [length]="(_service.productos)?.length" [pageSize]="pageSize"
            (page)="cambioPagina($event)">
        </mat-paginator>
    <button mat-raised-button color="accent" (click)="pagar()">Pagar</button>

    </div>

</mat-card>