<div>
    <div class="col-lg-6">
        <nav aria-label="breadcrumb">
            <h1><strong>Documentos</strong></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
                <li class="breadcrumb-item active"><a routerLink="/roles">Documentos</a></li>
            </ol>
        </nav>
    </div>

    <mat-card>
        <mat-card-content>

            <div class="row">
                <div class="col-lg-4">
                    <label for="">Nombre completo</label>
                    <input type="text" class="form-control" placeholder="Ingrese el nombre completo" [(ngModel)]="nombre">
                </div>
                <div class="col-lg-4">
                    <label for="">Número de cuenta</label>
                    <input type="text" class="form-control" placeholder="Ingrese el numero de cuenta" [(ngModel)]="cuenta">
                </div>
                <div class="col-lg-4">
                    <label for="">Calificación</label>
                    <input type="text" class="form-control" placeholder="Ingrese calificacion" [(ngModel)]="numporcentaje">
                </div>
                <div class="col-lg-4">
                    <label for="">Identidad</label>
                    <input type="text" class="form-control" placeholder="Ingrese identidad" [(ngModel)]="identidad">
                </div>
                <div class="col-lg-4">
                    <label for="">Fecha emisión</label>
                    <input type="date" class="form-control" placeholder="Ingrese fecha" [(ngModel)]="fecha">
                </div>
                
            </div>
 <br>

 <div class="row">
    <div class="col-lg-4">
   <button class="btn btn-danger" (click)="import()">Constancia Himno Nacional</button>
    </div>
    <div class="col-lg-4">
   <button class="btn btn-danger" (click)="buenaConducta()">Constancia Buena Conducta</button> 
    </div>
    <div class="col-lg-4">
   <button class="btn btn-danger" (click)="buenaConducta()">Constancia de egresado del coordinador</button>           
    </div>

 </div>
        </mat-card-content>
    </mat-card>
</div>