<mat-card class="p-4">
    <mat-card-title>
        <h4 class="text-center"><strong>{{_service.register.get('COD_TELEFONO')?.value ?
                "ACTUALIZAR":"CREAR"}}</strong></h4>
    </mat-card-title>
    <mat-card-subtitle>

        <form [formGroup]="_service.register">
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo telefono</mat-label>
                        <mat-select formControlName="COD_TIPO_TELEFONO">
                            <mat-option *ngFor="let food of (tipo_telefono.response$ | async)"
                                [value]="food.COD_TIPO_TELEFONO">
                                {{food.TIPO_TELEFONO}}
                            </mat-option>
                        </mat-select>
                        <mat-hint align="start"
                            *ngIf="validateOpinion['COD_TIPO_TELEFONO'].hasError('required')"><strong
                                class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field  appearance="outline">
                        <mat-label>Codigo de area</mat-label>
                        <input matInput placeholder="Ingrese codigo de area" formControlName="CODIGO_DE_AREA"
                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                        oncopy="return false" onpaste="return false">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field  appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input matInput placeholder="Ingrese telefono" formControlName="TELEFONO" maxlength="8" minlength="8"
                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                        oncopy="return false" onpaste="return false"> 
                        <mat-hint align="start" *ngIf="validateOpinion['TELEFONO'].hasError('required')"><strong
                                class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field  appearance="outline">
                        <mat-label>Extencion</mat-label>
                        <input matInput placeholder="Ingrese extencion" formControlName="EXTENCION"
                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                        oncopy="return false" onpaste="return false">
                        <mat-hint align="start" *ngIf="validateOpinion['EXTENCION'].hasError('required')"><strong
                                class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field  appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <input matInput placeholder="Ingrese descripcion" formControlName="DESCRIPCION_TELEFONO"
                            onkeyup="javascript:this.value=this.value.toUpperCase();">
                        <mat-hint align="start"
                            *ngIf="validateOpinion['DESCRIPCION_TELEFONO'].hasError('required')"><strong
                                class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </form>

    </mat-card-subtitle>
    <mat-card-actions>
        <button mat-raised-button class="m-1" color="primary" (click)="guardar()"
            [disabled]="!_service.register">{{_service.register.get('COD_TELEFONO')?.value ?
            "Actualizar":"Crear"}}</button>
        <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
</mat-card>